*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(131, 126, 119, 0.704), rgba(138, 123, 123, 0.337)),url("../assets/IMAGENES/fondo.jpg")!important;
    background-size:cover ;  
    background-repeat: no-repeat;
    background-position: center; 
}
main{
    min-height: 100px;
}
header{
    width: 100%;
}
.navbar{
    background-color:#ffffffda;
    width: 100%;
    
}
.frase{
    background-color:#ffffffda;
    color: #010101;
    width: 100;
}
.titulo{

        font-family: "Great Vibes", cursive;
        font-size:400%;
        font-style: normal;
        padding: 5px;
}
.bien{
    font-family: "Great Vibes", cursive;
    font-size:400%;
    font-style: normal;
}
.grupo{
    width: 400px;
    height: 450px;
}
.redes{
    background-color:#000000da;
    padding: 5px;
}
footer{
    background-color:#528345da;
    width: 100%;
    height: 4rem;
}

.habilidades{
    border-bottom: #010101 9px ridge;

}
.contenedor3{
    background-color:#ffffff;
    width: 100%;
    
}
.lugar{
    height: 350px;
    width: 300px;
}
.carousel-caption{
    background-color:#ffffff; 
    width: 100;
}
.carimg {
    height: 450px;
    overflow:hidden;
}
.carimg:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.img-habilidad{
    width: 50px;
    height: 50px;
    margin: 0.6rem 1.3rem;
}

.sobre-mi{
    text-align: justify;
    margin: 1rem;
    color: #fff;
}
.texto{
    width: 300px;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h1.elegantshadow {
    color: #131313;
    text-shadow: 1px -1px 0 #eaeaea, -1px 2px 1px #353535,  -3px 6px 1px #eae7e7, -4px 6px 1px #dddada;
}
h4 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h4.retroshadow {
    color: #010101;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 3px 0 #2a2a2a, 0 4px 0 #282828;
}

.about{
    width: 330px;
}
.contenedor:hover .img-habilidad {-webkit-transform:scale(1.3);transform:scale(1.3);}
.sobre_mi:hover {-webkit-transform:scale(3.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}


html::before,
html::after,
body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: .5vmin;
    height: .5vmin;
    border-radius: 50%;
    color: transparent;
}


.proyectos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.825), rgba(1, 1, 1, 0.741)),url("../assets/Images/bg-proyectos.jpg")!important;
    padding: 3rem 1rem 1rem 1rem;
    width: 100%;
    background-size: contain;  
    background-position: 0% -18%;
}


.link-contacto {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.link-contacto:focus,
.link-contacto:hover {
    color: #fff;
}

.link-contacto:focus:after,
.link-contacto:hover:after {
    width: 100%;
    left: 0%;
}

.link-contacto:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.texto-proy{
    text-align: justify;
}
.nombre-proy{
    color: #010101;
    background-color:#d2bba0;
}


.contenedor4{
    justify-content: center;
    width: 100;

}